<style>
    body {background-color: rgb(150, 191, 72);}
    h1   {color: blue;}
    p    {color: red;}
</style>

<title>
    Shopify Backend Developer Challenge</title>
    <h1>A quick inventory which implements the CRUD functionality and export data into CSV.</h1>
<form method="POST" action="">
  Name <input type="text" name="name" />
  <br>
  <!--Email <input type="email" name="email" />
  <br>-->
  Price <input type ="number" name = "price" />
  <br>
  Department <input type ="text" name = "department" />
  <br>
  Description <input type ="text" name = "description" />
  <br>
  <input type="submit" name ="submit_button" value ="Create"/>
  <br>
  <br>

  <input type="submit" name ="submit_button" value ="Edit"/>
  <input type="submit" name ="submit_button" value ="Delete"/>
  <input type="submit" name ="submit_button" value ="View"/>
  <input type="submit" name ="submit_button" value ="Export to CSV"/>
</form>
