<style>
    body {background-color: rgb(150, 191, 72);}
    h1   {color: blue;}
    p    {color: red;}
    .content{
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
</style>
<body>
    <div class = "content">

 
    <title>
    Shopify Backend Developer Challenge</title>
    <h1>Shopify Backend Developer Challenge.</h1>

  <input type="submit" name ="submit_button" value ="Create"/>
  <input type="submit" name ="submit_button" value ="View"/>

</div>
</body>