<style>
   
    body {background-color: rgb(150, 191, 72);}

    h1   {color: rgb(0, 0, 0);}
    p    {color: red;}
    .content{
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
</style>

<body>
    <table border = 1>
        <div class = "content">
            <thead>
                <h1>Current Inventory.</h1>
                    <tr>
                       <th>Product ID</th>
                       <th>Name</th>
                       <th>Price</th>
                       <th>Department</th>
                       <th>Description</th>
                       <th>Store URL</th>
                       <th>Edit</th>
                       <th>Delete</th>
                       <th>Export Data</th>
                    </tr>
            </thead>
    <tbody>
        {% for inventory in userDetails %}
            <tr>
                <td> {{inventory.product_id}} </td>
                <td> {{inventory.name}} </td>
                <td> {{inventory.price}} </td>
                <td> {{inventory.department}} </td>
                <td> {{inventory.description}} </td>
                <td> {{inventory.store_URL}} </td>
                <td>
                    <form method="POST" action="{{ url_for('edit') }}"  class=edit>
                        <input type=hidden value="{{ inventory.product_id }}"name=product_id />
                        <input type=hidden value="{{ inventory.name }}"name=name />
                        <input type=hidden value="{{ inventory.price }}"name=price />
                        <input type=hidden value="{{ inventory.department }}"name=department />
                        <input type=hidden value="{{ inventory.description }}"name=description />
                        <input type=hidden value="{{ inventory.store_URL }}"name=store_URL />
                        <input type="submit" name ="submit_button" value ="Edit"/>
                          </form>
                     </td>
                <td>
                <form method="POST" action="{{ url_for('delete') }}"  class=delete>
                    <input type=hidden value="{{ inventory.product_id }}"name=product_id />
                    <input type=hidden value="{{ inventory.name }}"name=name />
                    <input type="submit" name ="submit_button" value ="Delete"/>
                  </form>
                </td>
                <td>
           
                <form method="POST" action="{{ url_for('view') }}"  class=view>
                        <input type=hidden value="{{ inventory.product_id }}"name=product_id />
                        <input type=hidden value="{{ inventory.name }}"name=name />
                        <input type="submit" name ="submit_button" value ="Export"/> 
                      </form>
                 </td>
               
            </tr>
        {% endfor %}      
    </tbody>
</table>

<form method="POST" action="">
    <br>
    <input type="submit" name ="submit_button" value ="Return"/>
  </form>
  
</div>
</body>